* + .componentdocumentation {
	@include AU-space( margin-top, 5unit );
}

.au-body * + p {
	margin-top: 1rem;
}

.componentdocumentation {
	
	.au-display-xxxl, 
	.au-display-xxl, 
	.au-display-xl, 
	.au-display-lg, 
	.au-display-md, 
	.au-display-sm, 
	.au-display-xs, 
	.au-body h1, 
	.au-body h2, 
	.au-body h3,   
	.au-body h4, 
	.au-body h5, 
	.au-body h6 {
		font-weight: 600;
		max-width: 42rem;
	}

	.sm-basic-example {
		border: 2px solid #808080;
		background: #fff;
		padding: 1em 1em 1.5em 1em;
		max-width: 42rem;
		box-sizing: border-box;
		line-height: 1.5em;

		h4 {
			background: #e0e0e0;
			padding: 1em;
			width: 100%;
			margin: -1em 0 1em -1em;
			font-weight: 600;
			font-size: 1em;
		}
	}
}

.sm-basic-breakoutbox {
	position: relative;
	display: inline-block;
	border: 1px solid #5f5f5f;
	background: #efefef;
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	min-height: 10em;

	div > h4 {
		margin-bottom: 1em;
		font-weight: 800;
		font-size: 0.875em;
	}

	div > p {}

	.breakoutbox-image {
		position: relative;

		img {
			position: absolute;
			top: -3.5em;
		}

		&__blogpost {
			top: 0;
			padding: 0;
		}
	}

	.breakoutbox-text {
		padding-left: 3em;
	}

	&.--attribution {
		border: none;
	}
}

.main.au-body .right-column__module {
	position: relative;
	display: inline-block;
	padding-left: 1em;
	// width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;

	&.more-resources {
		color: #636363;
		font-size: 0.875em;

		h4.right-column__module--h4 {
			font-weight: 600;
		}

		.right-column__module--body {
			// border-top: 1px solid #808080;
			padding: 0;

			ul {
				font-size: 0.875em;
				padding-left: 1.5em;
			} 
			
			li {
				font-size: 1em;
			} 
			
			a {
				font-size: 1em;
			}
		}
	}

	&.co-created {
		background-color: #F5F5F5;
		color: #636363;
		padding: 1em;
		margin-top: 4em;

		.right-column__module--body {
			border-top: none;
			padding: 0 0 1em;

			p {
				font-size: 0.875em;
			}
		}
	}

	&.dark-block {
		background-color: #313131;
		color: #fff;
		padding: 1em 1.5em;
		border-radius: 5px;

		a {
			color: #45C2F0;
			font-size: 0.875em;
		}

		.right-column__module--header {
			padding: 0 0 1.5em;
		}

		.right-column__module--body {
			border-top: none;
			padding: 0 0 0.25em;

			p {
				font-size: 1em;
			}
		}
	}
}

div.col-md-9.right-column__module--header,
div.col-md-12.right-column__module--header {
	height: 2em;
	padding-left: 0;

	h4.right-column__module--h4 {
		font-weight: 600;
		font-size: 1em;
	}
}

div.col-md-3.right-column__module--emoji {
	padding-right: 0;
	height: 2em;

	img {
		top: -0.5em;
		position: relative;
		height: 2.5em;
		float: right;
	}
}

div.col-md-12.right-column__module--body {
	// border-top: 3px solid #5f5f5f;
	padding: 0;

	p {
		font-size: 1em;
	}

	i img, h4 i img {
		vertical-align: text-bottom;
	}
}

.print-button {
    position: absolute;
    top: 30px;
	right: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	
	> * {
		display: block;
		cursor: pointer;
		
		p {
			color: #5f5f5f;
			text-decoration: underline;
			margin-left: 5px;
		}
	}
}

.componentdocumentation .col-md-6 + .col-md-3 {
	margin-top: 5rem;
}

.header-link {
	display: flex;
	justify-content: flex-end;

	&.--wrapper {
		margin-top: 3em;
		height: 0;
		padding: 0;
		// border-style: solid;
		// border-width: 1px;
		// border-image: linear-gradient(to right, #fff, #5f5f5f) 1;
		border-top: 1px solid #e0e0e0;

		&::before {
			content: '';
			position: absolute;
			height: 5em;
			border-style: solid;
			border-width: 1px;
			border-image: linear-gradient(to top, #fff, #e0e0e0) 1;

		}
	}

	&.--link {
		height: 4em;
		top: -2em;
		position: absolute;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;
		z-index: 3;

		span {
			opacity: 0;
			bottom: -10px;
			position: relative;
			font-size: 0.75em;
			transition: all 0.25s ease-in-out 0.25s;
			text-decoration: underline;
		}

		i {
			position: relative;
			top: 0;
			right: 0;
			padding: 0 1em;
			z-index: 1;
			transition: all 0.05s ease-in-out;
			// transform: rotateY(0deg);
		}

		&::after {
			content: '';
			position: absolute;
			right: -12px;
			top: 21px;
			height: 2.6em;
			width: 2.6em;
			background-color: #fff;
			box-shadow: -3px 3px 3px #e0e0e0;
			z-index: 0;
			visibility: hidden;
			transition: all 0.05s ease-in-out;
		}

		&::before {
			content: '';
			position: absolute;
			right: -7px;
			top: 51px;
			height: 1px;
			width: 56px;
			background-color: #e0e0e0;
			z-index: 1;
			transition: all 0.05s ease-in-out;
			transform: rotate(45deg);
			opacity: 0;
		}

		&:hover {
			span {
				opacity: 1;
				bottom: -7px;
			}

			&::after {
				visibility: visible;
				right: -2px;
				top: 31px;
			}

			&::before {
				opacity: 1;
			}

			i {
				// transform: rotateY(180deg);
				top: 9px;
				right: 6px;
			}
		}
	}
}