* + .componentdocumentation {
	@include AU-space( margin-top, 5unit );
}

.au-body * + p {
	margin-top: 1rem;
}

#content.col-md-6.content {
	padding: 2em 0;
}

.componentdocumentation {
	
	.au-display-xxxl, 
	.au-display-xxl, 
	.au-display-xl, 
	.au-display-lg, 
	.au-display-md, 
	.au-display-sm, 
	.au-display-xs, 
	.au-body h1, 
	.au-body h2, 
	.au-body h3, 
	.au-body h4, 
	.au-body h5, 
	.au-body h6 {
		font-weight: 600;
		max-width: 42rem;
	}

	.sm-basic-example {
		border: 1px solid #5f5f5f;
		background: #efefef;
		padding: 1em 3em 1.5em;
		max-width: 42rem;
		box-sizing: border-box;

		h4 {
			margin-left: -1em;
			margin-bottom: 1em;
			font-weight: 600;
			font-size: 1em;
		}
	}
}

.sm-basic-breakoutbox {
	position: relative;
	display: inline-block;
	border: 1px solid #5f5f5f;
	background: #efefef;
	padding: 1em;
	width: 100%;
	box-sizing: border-box;
	min-height: 10em;

	div > h4 {
		margin-bottom: 1em;
		font-weight: 800;
		font-size: 0.75em;
	}

	div > p {}

	.breakoutbox-image {
		position: relative;

		img {
			position: absolute;
			top: -3.5em;
		}

		&__blogpost {
			top: 0;
			padding: 0;
		}
	}

	.breakoutbox-text {
		padding-left: 3em;
	}

	&.--attribution {
		border: none;
	}
}

.right-column__module {
	position: relative;
	top: 14em;
	padding-left: 1em;
}

div.col-md-9.right-column__module--header {
	// background: tomato;
	height: 2em;
	padding-left: 0;

	h4.right-column__module--h4 {
		font-weight: 600;
		font-size: 1em;
	}
}

div.col-md-3.right-column__module--emoji {
	padding-right: 0;
	height: 2em;

	img {
		top: -0.5em;
		position: relative;
		height: 2.5em;
		float: right;
	}
}

div.col-md-12.right-column__module--body {
	border-top: 3px solid #5f5f5f;
	padding: 1em 0;

	p {
		font-size: 0.75em;
	}
}